[Desktop Entry]
Name=Core 4 (Night)

X-KDE-PluginInfo-Name=Core 4 (Night)
X-KDE-PluginInfo-Author=Yitong He
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=CC-0
